/* Import a retro font */
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

.favorites-container {
  background-color:rgb(49, 49, 110)  ;
  padding: 2rem;
  color: #f5f5f5;
  font-family: 'Press Start 2P', cursive;
  border: 3px solid #ff6ec7;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px #ff6ec7, 0 0 20px #ff6ec7, 0 0 30px #ff6ec7, 0 0 40px #ff6ec7;
}

.favorites-container h2 {
  color: #ff6ec7;
  text-align: center;
  margin-bottom: 1rem;
}

.favorites-container ul {
  list-style-type: none;
  padding: 0;
}

.favorites-container li {
  background-color: #1a1a1d;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff6ec7, 0 0 10px #ff6ec7, 0 0 15px #ff6ec7;
}

.favorites-container p {
  margin: 0.5rem 0;
}

.favorites-container button {
  background-color: #ff6ec7;
  border: none;
  padding: 0.5rem 1rem;
  color: #282c34;
  font-family: 'Press Start 2P', cursive;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.favorites-container button:hover {
  background-color: #f5f5f5;
  color: #ff6ec7;
}
