

/* リストアイテムのスタイル */
li {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s ease;
}

li:hover {
  transform: scale(1.02);
}

@media (min-width: 768px) {
  li {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* パラグラフのスタイル */
p {
  margin: 5px 0;
}

/* ボタンのスタイル */
/* .button {
  padding: 10px 20px;
  background-color: #ff6ec7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 10px;
  right: 10px;
} */

.button:hover {
  background-color: #ff4ba1;
}

/* iPhone用のスタイル */
@media (max-width: 767px) {
  .favorite-list {
    display: flex;
    flex-direction: column;
  }
}

/* PC用のスタイル */
@media (min-width: 768px) {
  .favorite-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
