/* Import a retro font */
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

.generator-container {
  background-color: rgb(215, 214, 246);
  padding: 2rem;
  color: #f5f5f5;
  font-family: 'Press Start 2P', cursive;
  border: 3px solid #ff6ec7;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff6ec7, 0 0 20px #ff6ec7, 0 0 30px #ff6ec7, 0 0 40px #ff6ec7;
}

.title {
  color: #ff6ec7;
  text-align: center;
  margin-bottom: 1rem;
}

.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.item-container p {
  margin: 0 1rem 0 0;
}

.item-container div {
  margin-right: 1rem;
}

.bar {
  width: 80%;
  height: 30px;
  transition: width 0.3s ease, height 0.3s ease;
  margin: 0 auto;
}

.accse {
  justify-content: center;
}

.button {
  background-color: #ff6ec7;
  border: none;
  padding: 0.5rem 1rem;
  color: #282c34;
  font-family: 'Press Start 2P', cursive;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #f5f5f5;
  color: #ff6ec7;
}

.button:active {
  background-color: #282c34;
  color: #ff6ec7;
  border-radius: 5px;
}


.fav {
  position: absolute;
  /* bottom:px; */
 right: 40px;
 padding: 10px 20px;
}


/* アクセサリーのデザイン */

p {
  color: black;
}